<!-- <div class="card text-center cardContainer" *ngIf="userLogeado">

    <div class="card-header">Chatea!</div>

    <div class="card-body">
      <div class="container-Msg h-100">
        <p *ngFor="let chat of chats" class="send" [ngClass]="userLogeado.uid ? 'enviado' : 'recibido' ">
          {{chat.texto}}
        </p>
      </div>

    </div>

    <form class="card-footer text-muted input-group "(ngSubmit)="enviarMensaje()"> -->
      <!-- <div class="input-group mb-3"> -->
        <!-- <input type="text" class="form-control" placeholder="Mensaje" [(ngModel)]="newMsj" [ngModelOptions]="{standalone: true}">
        <div class="input-group-append" id="basic-addon2" (click)="enviarMensaje()">

          <span class="input-group-text" id="basic-addon2">
            <img class="imgEnv small" src="../../../assets/send.png" width=52px alt="send message">
          </span>

        </div>
    </form>

</div> -->



