<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="../../assets/descarga.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Bootstrap
  </a>
  <nav><ul><li>{{usuario}}</li></ul></nav>
  <a class="navbar-brand" href="#">
    <img src="../../assets/descarga.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Bootstrap
  </a>
  <div>

    <button class="btn btn-info btn-block m2" (click)="logOut()">logout</button>
  </div>

  <!-- <app-home></app-home> -->
</nav>
